My workflow.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1tra4VR4pLXSpEtEEJFZtyDV5q_KXHSYb",
          "mode": "list",
          "cachedResultName": "FAQ",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1tra4VR4pLXSpEtEEJFZtyDV5q_KXHSYb"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -480,
        -144
      ],
      "id": "4f8eb64c-0aad-4e8e-98e6-de25e99349bf",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "sh33vQdmvhNDMDQr",
          "name": "22h51a6691"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -304,
        -144
      ],
      "id": "69fa0465-d1f0-4371-bffe-a1ee39832a85",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "sh33vQdmvhNDMDQr",
          "name": "22h51a6691"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "demon",
          "mode": "list",
          "cachedResultName": "demon"
        },
        "options": {
          "pineconeNamespace": "FAQ"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        -112,
        -144
      ],
      "id": "cb2e75e1-b1a2-45e0-ae66-8f3ef8d1e9a3",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "3LaT2BT9fB57MmdQ",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        80,
        64
      ],
      "id": "b94652f1-92ef-4ff6-9bda-f92670b32f54",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        -240,
        48
      ],
      "id": "561bfa7e-f19f-4497-b60a-d46eae613fda",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "Q2OCZWh2SGQ5znxb",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.3,
      "position": [
        240,
        -48
      ],
      "id": "54048cf1-b68d-468e-8edd-b213321948fe",
      "name": "When chat message received",
      "webhookId": "8631960a-0c3f-49c8-99e8-d86304232143"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        384,
        -80
      ],
      "id": "69e13c29-108e-4455-8404-7c480d91b4ab",
      "name": "AI Agent1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        288,
        128
      ],
      "id": "66088d40-3604-43d2-a4b0-fe817acb61b0",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "igLsQ3ODxOtsKxaw",
          "name": "OpenRouter account"
        }
      }
    }
  ],
  "pinData": {
    "Download file": [
      {
        "json": {
          "parents": [
            "1tra4VR4pLXSpEtEEJFZtyDV5q_KXHSYb"
          ],
          "lastModifyingUser": {
            "displayName": "22H51A6691-KETHIREDDY SAI LOHITH REDDY B.Tech-CSM(2022-26)",
            "kind": "drive#user",
            "me": true,
            "permissionId": "15790337033421105208",
            "emailAddress": "22h51a6691@cmrcet.ac.in",
            "photoLink": "https://lh3.googleusercontent.com/a/ACg8ocKylpmruggbaWvE9Opog46nTAd8adc5B7UeecTHviOEj9K8BQ=s64"
          },
          "owners": [
            {
              "displayName": "22H51A6691-KETHIREDDY SAI LOHITH REDDY B.Tech-CSM(2022-26)",
              "kind": "drive#user",
              "me": true,
              "permissionId": "15790337033421105208",
              "emailAddress": "22h51a6691@cmrcet.ac.in",
              "photoLink": "https://lh3.googleusercontent.com/a/ACg8ocKylpmruggbaWvE9Opog46nTAd8adc5B7UeecTHviOEj9K8BQ=s64"
            }
          ],
          "permissions": [
            {
              "kind": "drive#permission",
              "id": "03968282949252122931",
              "type": "user",
              "emailAddress": "22h51a66c9@cmrcet.ac.in",
              "role": "writer",
              "displayName": "22h51a66c9",
              "photoLink": "https://lh3.googleusercontent.com/a-/ALV-UjVsS91nw7mfyYP7V5xXpXQYP5-mxf9p158NpEoSK2IJ28C5=s64",
              "deleted": false,
              "pendingOwner": false
            },
            {
              "kind": "drive#permission",
              "id": "15790337033421105208",
              "type": "user",
              "emailAddress": "22h51a6691@cmrcet.ac.in",
              "role": "owner",
              "displayName": "22H51A6691-KETHIREDDY SAI LOHITH REDDY B.Tech-CSM(2022-26)",
              "photoLink": "https://lh3.googleusercontent.com/a/ACg8ocKylpmruggbaWvE9Opog46nTAd8adc5B7UeecTHviOEj9K8BQ=s64",
              "deleted": false,
              "pendingOwner": false
            }
          ],
          "spaces": [
            "drive"
          ],
          "capabilities": {
            "canAcceptOwnership": false,
            "canAddChildren": false,
            "canAddMyDriveParent": false,
            "canChangeCopyRequiresWriterPermission": true,
            "canChangeItemDownloadRestriction": true,
            "canChangeSecurityUpdateEnabled": false,
            "canChangeViewersCanCopyContent": true,
            "canComment": true,
            "canCopy": true,
            "canDelete": true,
            "canDisableInheritedPermissions": false,
            "canDownload": true,
            "canEdit": true,
            "canEnableInheritedPermissions": true,
            "canListChildren": false,
            "canModifyContent": true,
            "canModifyContentRestriction": true,
            "canModifyEditorContentRestriction": true,
            "canModifyOwnerContentRestriction": true,
            "canModifyLabels": false,
            "canMoveChildrenWithinDrive": false,
            "canMoveItemIntoTeamDrive": true,
            "canMoveItemOutOfDrive": true,
            "canMoveItemWithinDrive": true,
            "canReadLabels": false,
            "canReadRevisions": true,
            "canRemoveChildren": false,
            "canRemoveContentRestriction": false,
            "canRemoveMyDriveParent": true,
            "canRename": true,
            "canShare": true,
            "canTrash": true,
            "canUntrash": true
          },
          "permissionIds": [
            "03968282949252122931",
            "15790337033421105208"
          ],
          "linkShareMetadata": {
            "securityUpdateEligible": false,
            "securityUpdateEnabled": true
          },
          "downloadRestrictions": {
            "itemDownloadRestriction": {
              "restrictedForReaders": false,
              "restrictedForWriters": false
            },
            "effectiveDownloadRestrictionWithContext": {
              "restrictedForReaders": false,
              "restrictedForWriters": false
            }
          },
          "kind": "drive#file",
          "id": "1RzLc714YMBCeiU7OEukHhQr7P_qMvP50",
          "name": "ipc&crpc.pdf",
          "mimeType": "application/pdf",
          "starred": false,
          "trashed": false,
          "explicitlyTrashed": false,
          "version": "4",
          "webContentLink": "https://drive.google.com/uc?id=1RzLc714YMBCeiU7OEukHhQr7P_qMvP50&export=download",
          "webViewLink": "https://drive.google.com/file/d/1RzLc714YMBCeiU7OEukHhQr7P_qMvP50/view?usp=drivesdk",
          "iconLink": "https://drive-thirdparty.googleusercontent.com/16/type/application/pdf",
          "hasThumbnail": true,
          "thumbnailLink": "https://lh3.googleusercontent.com/drive-storage/AJQWtBNXMCWC99U7O6gPL_R9ht88IH33nnFr-5ONrOj48oOGRNHLr8xQwB1WzjYhS1pOE8mzWFxQNX0v2Ten1VMHnA8nag_utKGd4zKRNDwODQr96zI=s220",
          "thumbnailVersion": "1",
          "viewedByMe": true,
          "viewedByMeTime": "2025-08-08T10:15:50.740Z",
          "createdTime": "2025-08-08T10:15:50.740Z",
          "modifiedTime": "2025-08-08T10:10:49.000Z",
          "modifiedByMeTime": "2025-08-08T10:10:49.000Z",
          "modifiedByMe": true,
          "shared": true,
          "ownedByMe": true,
          "viewersCanCopyContent": true,
          "copyRequiresWriterPermission": false,
          "writersCanShare": true,
          "originalFilename": "ipc&crpc.pdf",
          "fullFileExtension": "pdf",
          "fileExtension": "pdf",
          "md5Checksum": "20aa1bf6aeb485091f061758a3f8bca1",
          "sha1Checksum": "e82f7b0776354727ba7aba63223a3d1eda7acdde",
          "sha256Checksum": "ae8920ad726fbb6dfdec8d327c4bdda580ca175bcad1ef4212ca868fe4d1ea3a",
          "size": "1104850",
          "quotaBytesUsed": "1104850",
          "headRevisionId": "0BxoC8mRVOBT3dzIvS2gxNVgwVlVVNW1DalZ6OWl2Tkx6UzJNPQ",
          "isAppAuthorized": false,
          "inheritedPermissionsDisabled": false
        }
      }
    ]
  },
  "connections": {
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store": {
      "main": [
        []
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1becd776-bc6f-463b-8697-2545c97deed7",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "23452556779c19be0389e97405fdef5babbd00e45a88ae18e076a67364999c54"
  },
  "id": "w8c6rnmnb7yNCWtr",
  "tags": []
}